.nav-menu-wrapper-item {
  border: none;
  outline: none;
  background-color: transparent;

  font-weight: 600;
  width: max-content;
  display: inline-block;
  text-decoration: none;
  color: var(--text-color-grey);
  text-transform: capitalize;

  &.active {
    color: var(--primary-color);
  }
}
