.text_header {
  &.h2 {
    font-size: 2rem;
    font-weight: 800;

    &.extra-small {
      font-size: 1.2rem;
    }

    &.small {
      font-size: 1.6rem;
    }

    &.medium {
      font-size: 2rem;
    }

    &.large {
      font-size: 2.4rem;
    }
  }
}

@media screen and (min-width: 760px) {
  .text_header {
    &.h2 {
      font-size: 2.4rem;

      &.extra-small {
        font-size: 1.3rem;
      }

      &.small {
        font-size: 2rem;
      }

      &.medium {
        font-size: 2.4rem;
      }

      &.large {
        font-size: 2.8rem;
      }
    }
  }
}

@media screen and (min-width: 860px) {
  .text_header {
    &.h2 {
      font-size: 2.8rem;

      &.extra-small {
        font-size: 1.4rem;
      }

      &.small {
        font-size: 2.4rem;
      }

      &.medium {
        font-size: 2.8rem;
      }

      &.large {
        font-size: 3.2rem;
      }
    }
  }
}
