.nav-menu-wrapper {
  .nav-list-wrapper {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;

    .nav-menu-wrapper-item {
      padding: 0.5em 1em;
      margin-right: 0.3em;
      border-radius: var(--border-radius);

      &:last-of-type {
        margin-right: 0;
      }

      &:hover,
      &:focus-within {
        background-color: var(--hover-color);
      }
    }
  }

  &.vertical {
    .nav-list-wrapper {
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;
    }
  }

  @media screen and (min-width: 860px) {
    margin-left: 7rem;
  }
}
