.sidebar-menu-wrapper {
  .nav-menu-item {
    width: 100%;
    font-weight: 600;
    color: var(--text-color-grey);
    background-color: transparent;
    padding: var(--list-item-padding);
  }

  .sidebar-menu-cta {
    min-width: 100%;
  }
}
