.articles {
  height: 100%;

  // places the footer at the bottom of the page incase of less content
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;

  main {
    width: 100%;
    padding: 1rem;
    min-height: 15rem;
    margin-bottom: auto;
    align-self: center;

    hgroup {
      max-width: 42em;
      text-align: center;
      margin-block: 2rem;
      margin-inline: auto;
    }
  }

  .list {
    gap: 1.2rem;
    height: 100%;
    flex-flow: column nowrap;
  }

  @media screen and (min-width: 760px) {
    .list {
      gap: 1.5rem;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, minmax(10rem, max-content));
    }
  }
}
