.articles {
  height: 100%;

  // places the footer at the bottom of the page incase of less content
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;

  main {
    width: 100%;
    padding: 1rem;
    min-height: 15rem;
    margin-top: 2rem;
    margin-bottom: auto;
    align-self: center;
  }

  .list {
    gap: 1.2rem;
    height: 100%;
    flex-flow: column nowrap;
    margin-top: 2rem;
  }

  @media screen and (min-width: 760px) {
    main hgroup {
      max-width: 35rem;
    }

    .list {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, minmax(10rem, 1fr));

      li > :first-child {
        width: 100%;
        max-width: unset;
      }
    }
  }
}
