::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: var(--text-color-light);
  transition: background-color var(--animation-timing) ease;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}
