.popup-overlay {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  .popup-menu-wrapper {
    --padding: 0.5em;

    width: 80%;
    height: 100%;
    user-select: none;
    padding: var(--padding);
    color: var(--text-color-grey);

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    cursor: auto;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border-color-light);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: var(--background-color);

    @media screen and (min-width: 435px) {
      max-width: 20em;
    }
  }
}
