.image {
  margin: 0;
  width: 100%;
  height: auto;
  border: 1px solid var(--border-color-light);
  display: block;

  &.round-border {
    border-radius: var(--border-radius);
  }

  &.styled-image {
    transition: box-shadow 300ms ease-in-out;
    box-shadow: 30px 30px 0px var(--primary-color-light);

    &:hover {
      box-shadow: 20px 20px 0px var(--primary-color-light);
    }
  }
}

.figure {
  margin-block: 2rem;
  margin-inline: auto;

  .article-image {
    width: auto;
    height: auto;
    max-width: 100%;
    margin-block: 0;
    margin-inline: auto;

    &.round-border {
      border-radius: 0;
    }
  }

  .image-desc {
    color: var(--text-color-grey);
    max-width: 35rem;
    font-size: 0.85rem;
    text-align: center;
    font-weight: 400;

    margin-top: 0.5rem;
    margin-inline: auto;
  }
}
