.article {
  --padding: 1em;
  --border-radius: 0.5rem;

  width: 100%;
  border: 1px solid var(--border-color-light);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  text-decoration: none;
  background-color: var(--background-color-primary);

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;

  .image-wrapper {
    width: 100%;
    height: 13rem;
    overflow: hidden;
    min-height: 15rem;
    max-height: 15rem;
    border-radius: var(--border-radius);
    background-color: var(--hover-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .image {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0;
      object-fit: cover;
      object-position: center center;
      transition: transform 500ms ease;
    }
  }

  .text-wrapper {
    gap: 0.4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding);

    white-space: normal;
    text-overflow: ellipsis;

    .time-wrapper {
      font-size: 0.8rem;
      color: var(--text-color-grey);
    }

    .title {
      overflow: hidden;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-box !important;
    }

    .preview-text {
      color: var(--text-color-grey);
      overflow: hidden;
      font-size: 0.95rem;

      line-clamp: 4;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      display: -webkit-box !important;
    }
  }

  &:hover,
  &:focus {
    outline: none;

    .image {
      transform: scale(1.1);
    }
  }

  @media screen and (min-width: 760px) {
    --padding: 0.8em;

    max-width: 22rem;

    .image-wrapper {
      height: 12rem;
      min-height: 12rem;
      max-height: 12rem;
    }

    .text-wrapper {
      gap: 0.4rem;

      .time-wrapper {
        font-size: 0.7rem;
      }

      .title {
        font-size: 1.25rem;
      }

      .preview-text {
        font-size: 0.85rem;
        line-clamp: 3;
        -webkit-line-clamp: 3;
      }
    }
  }
}
