.header {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 18;
  width: 100%;
  padding: 0.4em 1em;
  backdrop-filter: blur(6px);
  border-bottom: 1px solid transparent;
  transition: transform 300ms ease-in-out;
  background-color: var(--background-color-translucent);

  &.scrolled-up {
    border-color: transparent;
  }

  &.scrolling-up {
    transform: translateY(0);
    border-color: var(--border-color-light);
  }

  &.scrolling-down {
    transform: translateY(-101%);
  }
}
