.footer {
  padding: 1em;
  font-size: 0.8rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  p {
    margin-top: 0.4em;
  }
}
