.view {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;

  main {
    margin-top: auto;
    margin-bottom: auto;
  }

  .notfound-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    min-height: max-content !important;

    .notfound-msg {
      max-width: 30em;
      margin-bottom: 1em;
    }
  }
}
