.nav-menu {
  .nav-list {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
  }

  &.vertical {
    .nav-list {
      width: 100%;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}
