.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    margin-left: 1em;
  }

  & > :first-child {
    margin-left: 0;

    // responsive rule
    display: none;
  }

  @media screen and (min-width: 760px) {
    & > :first-child {
      display: flex;
    }
  }
}
